---
layout: page
title: Contact
permalink: /contact/
---

<div class="form-box">
  <div class="contact-head">
    {% if site.data.settings.contact.description %}
    <p class="contact-description">{{site.data.settings.contact.description}}</p>
    {% endif %}
  </div>
  <form class="form" action="{% if site.data.settings.contact.email %}https://formspree.io/f/{{site.data.settings.contact.email}}{% else %}#{% endif %}" method="POST">
    <div class="form__top">
      <div class="form__group">
        <label class="form__label screen-reader-text" for="form-name">お名前 (Your name)</label>
        <input class="form__input" id="form-name" type="text" name="name" placeholder="お名前 (Your name)" required>
      </div>
      <div class="form__group">
        <label class="form__label screen-reader-text" for="form-email">メールアドレス (Email)</label>
        <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Your email" placeholder="メールアドレス (Email)" required>
      </div>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">メッセージ (Message)</label>
      <textarea class="form__input" id="form-text" name="text" rows="8" placeholder="Your message" placeholder="メッセージ (Message)" required></textarea>
    </div>
    <div class="form__group">
      <button class="button button--big" type="submit">送信 (Submit)</button>
    </div>
  </form>
</div>