{% if site.data.settings.blog.enable == true %}
<!-- begin blog -->
<section class="section blog animate">
  <div class="container">

    <div class="section__info section__info__center">
      <div class="section__head">
        {% if page.lang == 'en' and site.data.settings.blog.blog_intro_en %}
        <span class="section__intro">{{ site.data.settings.blog.blog_intro_en }}</span>
        {% elsif site.data.settings.blog.blog_intro %}
        <span class="section__intro">{{ site.data.settings.blog.blog_intro }}</span>
        {% endif %}
        {% if page.lang == 'en' and site.data.settings.blog.blog_title_en %}
        <h2 class="section__title">{{ site.data.settings.blog.blog_title_en }}</h2>
        {% elsif site.data.settings.blog.blog_title %}
        <h2 class="section__title">{{ site.data.settings.blog.blog_title }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="row">
    {% if site.posts.size > 0 %}
      {% assign filtered_posts = site.posts | where: 'lang', page.lang %}
      {% if filtered_posts.size == 0 %}
        {% assign filtered_posts = site.posts | where_exp: 'post', 'post.lang == nil or post.lang == "ja"' %}
      {% endif %}
      {% for post in filtered_posts offset:0 limit:3 %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
    </div>

  </div>

  <div class="section__navigation">
    {% if page.lang == 'en' %}
    <a href="{{ '/en/posts/' | relative_url }}" class="section__link">View All</a>
    {% else %}
    <a href="{{ '/posts/' | relative_url }}" class="section__link">全部見る</a>
    {% endif %}
  </div>
</section>
<!-- end blog -->
{% endif %}